.organization-thumbnail img {
  width: 64px;
}

dataset {
  display: block;
  border-bottom: 1px #d6d6d6 solid;
  padding-bottom: 20px;
}

.list-group-item-truncate {
  display: inline-block;
  line-height: 1;
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resource-description {
  font-size: 90%;
}

.select2 {
  margin-bottom: 10px;
}

.datasets-count {
  display: inline-block;
}

.add-dataset-btn {
  margin-top: 15px;
}

/* Hidden from guests */
.user-issue,
.admin-only {
  display: none;
}

.resource-details,
.show-resource-details {
  display: none;
}

.show-resource-details {
  font-size: 80%;
}

.user-issue {
  color: red;
}

[data-component~="view-switcher"] [data-hook~="view"] {
  display: none;
}

.theme-gallery {
  text-align: justify;
}

.homepage-categories {
  text-align: left;
}

/* allows last line of categories to be justify aligned */
.homepage-categories:after,
.theme-gallery:after {
  display: inline-block;
  width: 100%;
  content: "";
}

.homepage-categories .thumbnail {
  display: inline-block;
  min-width: 120px;
  text-align: center;
  border: none;
  padding: 10px;
}

.homepage-categories .thumbnail img {
  height: 80px;
}

.homepage-categories a {
  color: #000;
}

.theme-gallery .panel {
  display: inline-block;
  max-width: 250px;
  text-align: center;
}

.theme-gallery .panel img {
  width: 100%;
}

.theme-gallery .panel-primary {
  border-width: 5px;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-icons {
  font-size: 1.5em;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.dataset-desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.filetype-list-item {
  margin: 0 0.25em;
}

.leaflet-map {
  width: 100%;
  height: 50vh;
  margin: 1em 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.popup-la-logo {
  display: block;
  margin: auto;
}

.legend {
  background-color: #f5f5f5;
  padding: 1em;
  border-radius: 1em;
}

.legend-circle {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 1;
  border-radius: 100px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.legend-list li {
  display: flex;
  margin: 0.5em auto;
  align-items: center;
}
