---
title: Sources
layout: default
permalink: /analytics/sources/
---
{% include breadcrumbs.html %}

<!--standard set of links to use on all analytics pages-->        
{% include analytics-links.html %}



<!--Commentary-->
<h2>Dataset Sources</h2>
<p>Looking at how these OD files are accessed via API or by manual extraction</p>


<!--Chart: Unique datasets by source-->
<img src="/img/charts/image_Unique datasets by Source.svg" alt="Chart displaying Unique datasets by source">

<!--Table-->
<table class="table">
        <thead>
          <tr style="text-align: right;">
            <th>Source</th>
            <th>Owner</th>
            <th>DCAT feed</th>
            <th>USMART API</th>
            <th>arcgis API</th>
            <th>ckan API</th>
            <th>manual extraction</th>
            <th>Council_Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>0</th>
            <td>Aberdeen City</td>
            <td></td>
            <td></td>
            <td></td>
            <td>16.0</td>
            <td></td>
            <td>16.0</td>
          </tr>
          <tr>
            <th>1</th>
            <td>Aberdeenshire</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>31.0</td>
            <td>31.0</td>
          </tr>
          <tr>
            <th>2</th>
            <td>Angus</td>
            <td></td>
            <td></td>
            <td></td>
            <td>34.0</td>
            <td></td>
            <td>34.0</td>
          </tr>
          <tr>
            <th>3</th>
            <td>Argyll and Bute</td>
            <td></td>
            <td></td>
            <td>20.0</td>
            <td></td>
            <td></td>
            <td>20.0</td>
          </tr>
          <tr>
            <th>4</th>
            <td>City of Edinburgh</td>
            <td>43.0</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>43.0</td>
          </tr>
          <tr>
            <th>5</th>
            <td>Dumfries and Galloway</td>
            <td></td>
            <td>32.0</td>
            <td></td>
            <td></td>
            <td></td>
            <td>32.0</td>
          </tr>
          <tr>
            <th>6</th>
            <td>Dundee City</td>
            <td></td>
            <td></td>
            <td></td>
            <td>37.0</td>
            <td></td>
            <td>37.0</td>
          </tr>
          <tr>
            <th>7</th>
            <td>East Ayrshire</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>4.0</td>
            <td>4.0</td>
          </tr>
          <tr>
            <th>8</th>
            <td>Glasgow City</td>
            <td>62.0</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>62.0</td>
          </tr>
          <tr>
            <th>9</th>
            <td>Moray</td>
            <td></td>
            <td></td>
            <td>62.0</td>
            <td></td>
            <td>11.0</td>
            <td>73.0</td>
          </tr>
          <tr>
            <th>10</th>
            <td>Perth and Kinross</td>
            <td></td>
            <td></td>
            <td></td>
            <td>64.0</td>
            <td></td>
            <td>64.0</td>
          </tr>
          <tr>
            <th>11</th>
            <td>Renfrewshire</td>
            <td></td>
            <td></td>
            <td>40.0</td>
            <td></td>
            <td></td>
            <td>40.0</td>
          </tr>
          <tr>
            <th>12</th>
            <td>South Ayrshire</td>
            <td></td>
            <td></td>
            <td>35.0</td>
            <td></td>
            <td></td>
            <td>35.0</td>
          </tr>
          <tr>
            <th>13</th>
            <td>Stirling</td>
            <td></td>
            <td></td>
            <td></td>
            <td>20.0</td>
            <td></td>
            <td>20.0</td>
          </tr>
          <tr>
            <th>Source_Total</th>
            <td></td>
            <td>105.0</td>
            <td>32.0</td>
            <td>157.0</td>
            <td>171.0</td>
            <td>46.0</td>
            <td>511.0</td>
          </tr>
        </tbody>
      </table>