---
title: Sources
layout: default
permalink: /analytics/sources/
---
{% include breadcrumbs.html %}

<!--standard set of links to use on all analytics pages-->        
{% include analytics-links.html %}



<!--Commentary-->
<h2>Dataset Sources</h2>
<p>Looking at how these OD files are accessed via API or by manual extraction</p>



<!--Chart: Unique datasets by source-->

<canvas id="chart-datasets-by-source" width="400" height="200"></canvas>

<script>
        document.addEventListener('DOMContentLoaded', () => {
                document.getElementById("analytics-last-updated").style.display = "none"

                // loading the datasets data
                $.getJSON('/datasets.json', function (datasets) {
                        // Load charts
                        chartDatasetsBySource(datasets);
                });
        });

        function chartDatasetsBySource(datasets) {
                let ctx = document.getElementById('chart-datasets-by-source').getContext('2d');
                let data = _.chain(datasets)
                        .groupBy('source')
                        .map((value, key) => ({ label: key === '' ? "Other" : key, count: value.length }))
                        .orderBy('count', 'desc')
                        .value();

                let labels = _.chain(data)
                        .map('label')
                        .value();

                let values = _.chain(data)
                        .map('count')
                        .value();

                var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                                labels: labels,
                                datasets: [{
                                        label: '# of datasets by source',
                                        data: values,
                                        backgroundColor: 'rgba(31, 120, 180, 1)',
                                        borderColor: 'rgba(31, 120, 180, 0.5)',
                                        borderWidth: 1
                                }]
                        },
                        options: {
                                scales: {
                                        yAxes: [{
                                                ticks: {
                                                        beginAtZero: true
                                                }
                                        }]
                                }
                        }
                });
        }

</script>