---
title: Scorecard
layout: default
permalink: /analytics/scorecard/
---
{% include breadcrumbs.html %}

<!DOCTYPE html>
<html>
<head><meta charset="utf-8" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>


<!-- Custom stylesheet, it must be in the same directory as the html file -->
<link rel="stylesheet" href="analytics_style.css">

<!-- Loading mathjax macro -->
<!-- Load mathjax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS_HTML"></script>
    <!-- MathJax configuration -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
            processEnvironments: true
        },
        // Center justify equations in code and markdown cells. Elsewhere
        // we use CSS to left justify single line equations in code cells.
        displayAlign: 'center',
        "HTML-CSS": {
            styles: {'.MathJax_Display': {"margin": 0}},
            linebreaks: { automatic: true }
        }
    });
    </script>
    <!-- End of mathjax configuration --></head>

<body>
<!--standard set of links to use on all analytics pages-->        
{% include analytics-links.html %}

<!--Commentary-->
<h1>Scorecard</h1>
<p>Everything we’ve looked at so far is descriptive and explanatory. It helps us figure out what’s going on but how do we make this useful and actionable?</p>
<p>One way is to turn it into a competition to score and rank each council to see how they're all stacking up. It's not perfect, but it's one way of consistently and transparently measuring everyone. This isn't a measure of if the council is rated "good" or not, this is just an ordering from best offerings to worst, where the worst offering is having no open data provision at all. This could be a way to identify who the leader councils are for other councils to emulate, but that doesn't exclude the need for leading councils to improve their offering either.</p>
<p>The scorecare can be a great tool to potentially facilitate a lot of conversation. If a council asks "so how do we get a better score?", well, where are you performing worst at the moment? What's the easiest thing to fix right now?</p>
<ul>
    <li>if you post a new dataset next week your score could improve significantly.</li>
    <li>Could you relabel some of your existing datasets, that could be a way to improve your score?</li>
</ul>
    

<h2>Methodology</h2>
<p>The idea behind the scorecard is to encourage and reward good behaviour: having a lot of datasets, a high variety of filetypes, a high variety of datasets, and timeliness (!) etc...</p>
<p>There are 10 areas of assessment, each with a potential score of 0-1 and come from either of 2 scoring mechanisms:</p>
<ul>
    <li>an objective binary measure: Did they meet this critera Yes(1)/No(0)</li>
    <li>a relative measure: Who is best in this area (1), and worst (0), everyone else gets between 0-1 based on rank.</li>
</ul>
    
<!--Table: Explanation of scoring mechanisms-->
<table class="table">
<thead><tr>
<th style="text-align:left">Measure</th>
<th style="text-align:left">Scoring</th>
<th style="text-align:left">Goal</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">Has OD Site</td>
<td style="text-align:left">objective</td>
<td style="text-align:left">Is providing some OD</td>
</tr>
<tr>
<td style="text-align:left">#Datasets</td>
<td style="text-align:left">relative</td>
<td style="text-align:left">More datasets are better</td>
</tr>
<tr>
<td style="text-align:left">% Active URLs</td>
<td style="text-align:left">relative</td>
<td style="text-align:left">More active links are better</td>
</tr>
<tr>
<td style="text-align:left">Last 365 days</td>
<td style="text-align:left">objective</td>
<td style="text-align:left">Has updated data in the last year</td>
</tr>
<tr>
<td style="text-align:left">Last 180 days</td>
<td style="text-align:left">objective</td>
<td style="text-align:left">Has updated data in the last 6 months</td>
</tr>
<tr>
<td style="text-align:left">Last 90 days</td>
<td style="text-align:left">objective</td>
<td style="text-align:left">Has updated data in the last 3 months</td>
</tr>
<tr>
<td style="text-align:left">Last 30 days</td>
<td style="text-align:left">objective</td>
<td style="text-align:left">Has updated data in the last month</td>
</tr>
<tr>
<td style="text-align:left">Avg FileTypes per Dataset</td>
<td style="text-align:left">relative</td>
<td style="text-align:left">Higher avg filetypes suggests better variety and accomodations</td>
</tr>
<tr>
<td style="text-align:left">Total Size (MB)</td>
<td style="text-align:left">relative</td>
<td style="text-align:left">Higher size might suggest more data available</td>
</tr>
<tr>
<td style="text-align:left">#Tags</td>
<td style="text-align:left">relative</td>
<td style="text-align:left">More tags might suggest broader range of categories offered</td>
</tr>
</tbody>
</table>
<p>The highest possible perfect score is 10.</p>
 


<!--Table: Scorecard matrix-->
<table class="table">
    <thead>
    <tr style="text-align: right;">
        <th>Council</th>
        <th>Has OD Site</th>
        <th>#Datasets</th>
        <th>% Active URLs</th>
        <th>Last 365 days</th>
        <th>Last 180 days</th>
        <th>Last 90 days</th>
        <th>Last 30 days</th>
        <th>Avg FileTypes per Dataset</th>
        <th>Total Size (MB)</th>
        <th>#Tags</th>
        <th>Council_Score</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>Angus</th>
        <td>1</td>
        <td>0.62</td>
        <td>0.0</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>0.83</td>
        <td>0.92</td>
        <td>0.92</td>
        <td>8.29</td>
    </tr>
    <tr>
        <th>Moray</th>
        <td>1</td>
        <td>1.00</td>
        <td>0.0</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>0.58</td>
        <td>0.42</td>
        <td>0.25</td>
        <td>7.25</td>
    </tr>
    <tr>
        <th>Renfrewshire</th>
        <td>1</td>
        <td>0.92</td>
        <td>0.0</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <td>0.21</td>
        <td>1.00</td>
        <td>0.71</td>
        <td>6.84</td>
    </tr>
    <tr>
        <th>Aberdeenshire</th>
        <td>1</td>
        <td>0.33</td>
        <td>0.0</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>0.42</td>
        <td>0.50</td>
        <td>0.58</td>
        <td>6.83</td>
    </tr>
    <tr>
        <th>Argyll and Bute</th>
        <td>1</td>
        <td>0.62</td>
        <td>0.0</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>0.21</td>
        <td>0.17</td>
        <td>0.50</td>
        <td>6.50</td>
    </tr>
    <tr>
        <th>Dumfries and Galloway</th>
        <td>1</td>
        <td>0.46</td>
        <td>0.0</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <td>0.75</td>
        <td>0.17</td>
        <td>0.42</td>
        <td>5.80</td>
    </tr>
    <tr>
        <th>Stirling</th>
        <td>1</td>
        <td>0.21</td>
        <td>0.0</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <td>0.50</td>
        <td>0.67</td>
        <td>0.17</td>
        <td>5.55</td>
    </tr>
    <tr>
        <th>Perth and Kinross</th>
        <td>1</td>
        <td>0.83</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.92</td>
        <td>0.83</td>
        <td>1.00</td>
        <td>4.58</td>
    </tr>
    <tr>
        <th>Aberdeen City</th>
        <td>1</td>
        <td>0.21</td>
        <td>0.0</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>1.00</td>
        <td>0.58</td>
        <td>0.71</td>
        <td>4.50</td>
    </tr>
    <tr>
        <th>South Ayrshire</th>
        <td>1</td>
        <td>0.46</td>
        <td>0.0</td>
        <td>1</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
        <td>0.21</td>
        <td>0.17</td>
        <td>0.33</td>
        <td>4.17</td>
    </tr>
    <tr>
        <th>Dundee City</th>
        <td>1</td>
        <td>0.75</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.67</td>
        <td>0.75</td>
        <td>0.83</td>
        <td>4.00</td>
    </tr>
    <tr>
        <th>East Ayrshire</th>
        <td>1</td>
        <td>0.08</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.21</td>
        <td>0.33</td>
        <td>0.08</td>
        <td>1.70</td>
    </tr>
    <tr>
        <th>Scottish Borders</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>Shetland Islands</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>South Lanarkshire</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>Orkney Islands</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>West Dunbartonshire</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>North Lanarkshire</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>North Ayrshire</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>Highland</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>Midlothian</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>Inverclyde</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>Glasgow City</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>Fife</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>Falkirk</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>East Renfrewshire</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>East Lothian</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>East Dunbartonshire</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>Comhairle nan Eilean Siar</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>Clackmannanshire</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>City of Edinburgh</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    <tr>
        <th>West Lothian</th>
        <td>0</td>
        <td>0.00</td>
        <td>0.0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
        <td>0.00</td>
    </tr>
    </tbody>
</table>



<!--Commentary-->
<h2>A note on methodology</h2>
<p>Opportunities to make a better scorecard.</p>
<h3>Relative measures<</h3>
<p>How do you score things like "do you have a lot of datasets?" because what is a lot? Is 10 enough, 100, 1000? Because there isn't any objective measure, the best we can do is consider any one council in the context of all the other councils. That is, I don't know if 100 is enough, but 100 is the most anyone else has got so you get the perfect score of 1 in this area, and if you have the least number of datasets available, you get the perfect score of 0, everyone else gets a score in between 0-1.</p>
<p>There is of course opportunity to convert many of these relative measures into objective measures, but these should be discussed and agreed (and we invite participation because they need to be realistic and achievable). For example, we can set an objective measure such as: Council has more than 20 unique datasets (Yes/No).</p>
<h3>Weightings</h3>
<p>All of these scores are equally weighted, but some areas appear more frequently than others which lends it an implied weighting. This was deliberate in measuring timeliness where in effect, if you have an updated dataset in the last 30 days you get 4 points and 1 point if it is only updated in the last 6 months to year.</p>
<p>Yet something like % Active URLS (which offers a max of 1 point for this area), should maybe work in negative effect if you get anything less than 100% (True or Error). i.e. if you have links that are broken, so a dataset appears to be available but it is not, that is indicative of poor maintenance practice and should probably be penalised more than if an organisation had fewer datasets but all datasets were maintained and accessible. (or convert % Active URLs into an objective measure e.g. &gt;90% of links are active, Yes/No.)</p>



</body>
</html>