---
title: URL Statuses
layout: default
permalink: /analytics/urls/
---
{% include breadcrumbs.html %}

<!--standard set of links to use on all analytics pages-->        
{% include analytics-links.html %}



<!--Commentary-->
<h2>URL Statuses by Council</h2>
<p>We check each file link to see if the URL is still active and accessible. 
<ul>
  <li>Active: The data is accessible</li>
  <li>Inactive: There is a hosting issue or has been removed. The data is inaccessible</li>
  <li>Missing: There is no URL to check or it is missing from our data.</li>
</ul>
  
<h3>Latest Statuses</h3>
<ul>
  <li>Active: 1245</li>
  <li>Inactive: 72</li>
  <li>Missing: 161</li>
</ul>



<!--Table: URLs by council and status-->
<table class="table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Council</th>
      <th>#Files</th>
      <th>Active URLs</th>
      <th>% Active URLs</th>
      <th>#Datasets</th>
      <th>#Data Sources</th>
      <th>Last Updated</th>
      <th>#Licenses</th>
      <th>#Tags</th>
      <th>#FileTypes</th>
      <th>Avg FileTypes per Dataset</th>
      <th>Total Size (MB)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Aberdeen City</td>
      <td>92</td>
      <td>92.0</td>
      <td>100.0</td>
      <td>16</td>
      <td>1</td>
      <td>2020-09-22</td>
      <td>1</td>
      <td>38</td>
      <td>7</td>
      <td>3.81</td>
      <td>20.64</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Aberdeenshire</td>
      <td>33</td>
      <td>30.0</td>
      <td>90.9</td>
      <td>31</td>
      <td>1</td>
      <td>2021-06-01</td>
      <td>3</td>
      <td>36</td>
      <td>3</td>
      <td>1.06</td>
      <td>18.10</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Angus</td>
      <td>96</td>
      <td>71.0</td>
      <td>74.0</td>
      <td>34</td>
      <td>1</td>
      <td>2021-12-23</td>
      <td>2</td>
      <td>96</td>
      <td>9</td>
      <td>2.44</td>
      <td>139.35</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Argyll and Bute</td>
      <td>20</td>
      <td></td>
      <td></td>
      <td>20</td>
      <td>1</td>
      <td>2021-08-03</td>
      <td>1</td>
      <td>23</td>
      <td>1</td>
      <td>1.00</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>City of Edinburgh</td>
      <td>215</td>
      <td>215.0</td>
      <td>100.0</td>
      <td>43</td>
      <td>1</td>
      <td>2022-02-01</td>
      <td>1</td>
      <td>37</td>
      <td>5</td>
      <td>5.00</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Dumfries and Galloway</td>
      <td>67</td>
      <td>65.0</td>
      <td>97.0</td>
      <td>32</td>
      <td>1</td>
      <td>2021-12-03</td>
      <td>1</td>
      <td>33</td>
      <td>5</td>
      <td>2.09</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Dundee City</td>
      <td>181</td>
      <td>177.0</td>
      <td>97.8</td>
      <td>37</td>
      <td>1</td>
      <td>2022-02-10</td>
      <td>4</td>
      <td>48</td>
      <td>12</td>
      <td>1.89</td>
      <td>69.55</td>
    </tr>
    <tr>
      <th>7</th>
      <td>East Ayrshire</td>
      <td>4</td>
      <td>4.0</td>
      <td>100.0</td>
      <td>4</td>
      <td>1</td>
      <td></td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1.00</td>
      <td>0.01</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Glasgow City</td>
      <td>230</td>
      <td>194.0</td>
      <td>84.3</td>
      <td>62</td>
      <td>1</td>
      <td>2022-02-03</td>
      <td>1</td>
      <td>55</td>
      <td>5</td>
      <td>3.71</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Moray</td>
      <td>119</td>
      <td>57.0</td>
      <td>47.9</td>
      <td>73</td>
      <td>2</td>
      <td>2021-02-02</td>
      <td>3</td>
      <td>15</td>
      <td>5</td>
      <td>1.28</td>
      <td>9.99</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Perth and Kinross</td>
      <td>265</td>
      <td>259.0</td>
      <td>97.7</td>
      <td>64</td>
      <td>1</td>
      <td>2022-02-13</td>
      <td>4</td>
      <td>125</td>
      <td>9</td>
      <td>3.94</td>
      <td>69.10</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Renfrewshire</td>
      <td>40</td>
      <td></td>
      <td></td>
      <td>40</td>
      <td>1</td>
      <td>2022-01-07</td>
      <td>3</td>
      <td>23</td>
      <td>8</td>
      <td>1.00</td>
      <td>15.98</td>
    </tr>
    <tr>
      <th>12</th>
      <td>South Ayrshire</td>
      <td>35</td>
      <td></td>
      <td></td>
      <td>35</td>
      <td>1</td>
      <td>2021-10-18</td>
      <td>1</td>
      <td>29</td>
      <td>1</td>
      <td>1.00</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Stirling</td>
      <td>81</td>
      <td>81.0</td>
      <td>100.0</td>
      <td>20</td>
      <td>1</td>
      <td>2022-02-17</td>
      <td>1</td>
      <td>12</td>
      <td>3</td>
      <td>1.20</td>
      <td>84.86</td>
    </tr>
  </tbody>
</table>



</body>
</html>