---
title: Summary Matrix
layout: default
permalink: /analytics/summary-matrix
---
{% include breadcrumbs.html %}

<!--standard set of links to use on all analytics pages-->
{% include analytics-links.html %}


<!--Table: Summary Matrix-->
<h2>Summary Matrix</h2>

<table class="table">
    <thead>
            <tr style="text-align: right;">
                    <th></th>
                    <th>Council</th>
                    <th>#Files</th>
                    <th>Active URLs</th>
                    <th>% Active URLs</th>
                    <th>#Datasets</th>
                    <th>#Data Sources</th>
                    <th>Last Updated</th>
                    <th>#Licenses</th>
                    <th>#Tags</th>
                    <th>#FileTypes</th>
                    <th>Avg FileTypes per Dataset</th>
                    <th>Total Size (MB)</th>
            </tr>
    </thead>
    <tbody>
            <tr>
                    <th>0</th>
                    <td>Aberdeen City</td>
                    <td>92</td>
                    <td>92</td>
                    <td>100</td>
                    <td>16</td>
                    <td>1</td>
                    <td>2020-08-03</td>
                    <td>1</td>
                    <td>38</td>
                    <td>7</td>
                    <td>3.81</td>
                    <td>21.05</td>
            </tr>
            <tr>
                    <th>1</th>
                    <td>Aberdeenshire</td>
                    <td>33</td>
                    <td>30</td>
                    <td>90.9</td>
                    <td>31</td>
                    <td>1</td>
                    <td>2021-06-01</td>
                    <td>2</td>
                    <td>37</td>
                    <td>3</td>
                    <td>1.06</td>
                    <td>18.10</td>
            </tr>
            <tr>
                    <th>2</th>
                    <td>Angus</td>
                    <td>91</td>
                    <td>66</td>
                    <td>72.5</td>
                    <td>33</td>
                    <td>1</td>
                    <td>2021-06-10</td>
                    <td>2</td>
                    <td>95</td>
                    <td>9</td>
                    <td>2.48</td>
                    <td>139.35</td>
            </tr>
            <tr>
                    <th>3</th>
                    <td>Argyll and Bute</td>
                    <td>33</td>
                    <td></td>
                    <td></td>
                    <td>33</td>
                    <td>1</td>
                    <td>2021-06-08</td>
                    <td>0</td>
                    <td>35</td>
                    <td>1</td>
                    <td>1.00</td>
                    <td>0.00</td>
            </tr>
            <tr>
                    <th>4</th>
                    <td>Dumfries and Galloway</td>
                    <td>67</td>
                    <td>64</td>
                    <td>95.5</td>
                    <td>32</td>
                    <td>1</td>
                    <td>2021-04-23</td>
                    <td>1</td>
                    <td>34</td>
                    <td>5</td>
                    <td>2.09</td>
                    <td>0.00</td>
            </tr>
            <tr>
                    <th>5</th>
                    <td>Dundee City</td>
                    <td>178</td>
                    <td>168</td>
                    <td>94.4</td>
                    <td>42</td>
                    <td>1</td>
                    <td>2019-01-29</td>
                    <td>6</td>
                    <td>52</td>
                    <td>12</td>
                    <td>1.83</td>
                    <td>99.86</td>
            </tr>
            <tr>
                    <th>6</th>
                    <td>East Ayrshire</td>
                    <td>4</td>
                    <td>4</td>
                    <td>100</td>
                    <td>4</td>
                    <td>1</td>
                    <td></td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1.00</td>
                    <td>0.01</td>
            </tr>
            <tr>
                    <th>7</th>
                    <td>Moray</td>
                    <td>119</td>
                    <td>57</td>
                    <td>47.9</td>
                    <td>73</td>
                    <td>2</td>
                    <td>2021-06-12</td>
                    <td>2</td>
                    <td>15</td>
                    <td>5</td>
                    <td>1.28</td>
                    <td>9.99</td>
            </tr>
            <tr>
                    <th>8</th>
                    <td>Perth and Kinross</td>
                    <td>179</td>
                    <td>168</td>
                    <td>93.9</td>
                    <td>48</td>
                    <td>1</td>
                    <td>2019-09-10</td>
                    <td>4</td>
                    <td>109</td>
                    <td>9</td>
                    <td>3.46</td>
                    <td>114.41</td>
            </tr>
            <tr>
                    <th>9</th>
                    <td>Renfrewshire</td>
                    <td>67</td>
                    <td></td>
                    <td></td>
                    <td>67</td>
                    <td>1</td>
                    <td>2021-04-30</td>
                    <td>0</td>
                    <td>38</td>
                    <td>8</td>
                    <td>1.00</td>
                    <td>2060.58</td>
            </tr>
            <tr>
                    <th>10</th>
                    <td>South Ayrshire</td>
                    <td>32</td>
                    <td></td>
                    <td></td>
                    <td>32</td>
                    <td>1</td>
                    <td>2021-03-24</td>
                    <td>0</td>
                    <td>27</td>
                    <td>1</td>
                    <td>1.00</td>
                    <td>0.00</td>
            </tr>
            <tr>
                    <th>11</th>
                    <td>Stirling</td>
                    <td>58</td>
                    <td>58</td>
                    <td>100</td>
                    <td>16</td>
                    <td>1</td>
                    <td>2021-04-30</td>
                    <td>1</td>
                    <td>10</td>
                    <td>3</td>
                    <td>1.25</td>
                    <td>77.77</td>
            </tr>
    </tbody>
</table>