---
title: Filesizes
layout: default
permalink: /analytics/filesizes/
---
{% include breadcrumbs.html %}

<body>
<!--standard set of links to use on all analytics pages-->        
{% include analytics-links.html %}



<!--Commentary-->
<h2>File size</h2>
<p>File size isn't the best proxy for the volume of data provided, we will want to look at the number of instances or number of values per file or dataset for this. Filetypes will also have influence on total filesize: binary files such as .xlsx will be larger than their .csv equivalents, as will PDFs and images.</p>
<p>But file size is still interesting to look at for accessibility reasons. Mammoth files will struggle to download for users or organisations on limited bandwidth internet connections, they also take a chunk of councils' storage resources.</p>
<p>There is no filesize info for  671  files.</p>



<!--Chart: Number of files by filesize-->
<img src="/img/charts/image_Number of files by FileSize.svg" alt="Chart displaying Number of files by FileSize">

        
</body>
</html>