---
title: URL Statuses
layout: default
permalink: /analytics/urls/
---
{% include breadcrumbs.html %}

<!DOCTYPE html>
<html>
<head><meta charset="utf-8" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>


<!-- Custom stylesheet, it must be in the same directory as the html file -->
<link rel="stylesheet" href="analytics_style.css">

<!-- Loading mathjax macro -->
<!-- Load mathjax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS_HTML"></script>
    <!-- MathJax configuration -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
            processEnvironments: true
        },
        // Center justify equations in code and markdown cells. Elsewhere
        // we use CSS to left justify single line equations in code cells.
        displayAlign: 'center',
        "HTML-CSS": {
            styles: {'.MathJax_Display': {"margin": 0}},
            linebreaks: { automatic: true }
        }
    });
    </script>
    <!-- End of mathjax configuration --></head>

<body>
<!--standard set of links to use on all analytics pages-->        
{% include analytics-links.html %}



<!--Commentary-->
<h2>URL Statuses by Council</h2>
<p>We check each file link to see if the URL is still active and accessible. 
<ul>
  <li>Active: The data is accessible</li>
  <li>Inactive: There is a hosting issue or has been removed. The data is inaccessible</li>
  <li>Missing: There is no URL to check or it is missing from our data.</li>
</ul>
  
<h3>Latest Statuses</h3>
<p>Last updated: 29-11-2021 21:36 </p>
<ul>
  <li>Active: 707</li>
  <li>Inactive: 50</li>
  <li>Missing: 196</li>
</ul>



<!--Table: URLs by council and status-->
<table class="table">
  <thead>
    <tr style="text-align: right;">
      <th>Council</th>
      <th>Active</th>
      <th>Inactive</th>
      <th>Missing</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Aberdeen City</th>
      <td>92</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Aberdeenshire</th>
      <td>30</td>
      <td>3</td>
      <td></td>
    </tr>
    <tr>
      <th>Angus</th>
      <td>66</td>
      <td>24</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Argyll and Bute</th>
      <td></td>
      <td></td>
      <td>33</td>
    </tr>
    <tr>
      <th>Dumfries and Galloway</th>
      <td>64</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Dundee City</th>
      <td>168</td>
      <td>10</td>
      <td></td>
    </tr>
    <tr>
      <th>East Ayrshire</th>
      <td>4</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Moray</th>
      <td>57</td>
      <td></td>
      <td>62</td>
    </tr>
    <tr>
      <th>Perth and Kinross</th>
      <td>168</td>
      <td>11</td>
      <td></td>
    </tr>
    <tr>
      <th>Renfrewshire</th>
      <td></td>
      <td></td>
      <td>67</td>
    </tr>
    <tr>
      <th>South Ayrshire</th>
      <td></td>
      <td></td>
      <td>32</td>
    </tr>
    <tr>
      <th>Stirling</th>
      <td>58</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>



</body>
</html>