---
title: Filesizes
layout: default
permalink: /analytics/filesizes/
---
{% include breadcrumbs.html %}

<!DOCTYPE html>
<html>
<head><meta charset="utf-8" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>


<!-- Custom stylesheet, it must be in the same directory as the html file -->
<link rel="stylesheet" href="analytics_style.css">

<!-- Loading mathjax macro -->
<!-- Load mathjax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS_HTML"></script>
    <!-- MathJax configuration -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true,
            processEnvironments: true
        },
        // Center justify equations in code and markdown cells. Elsewhere
        // we use CSS to left justify single line equations in code cells.
        displayAlign: 'center',
        "HTML-CSS": {
            styles: {'.MathJax_Display': {"margin": 0}},
            linebreaks: { automatic: true }
        }
    });
    </script>
    <!-- End of mathjax configuration --></head>

<body>
<!--standard set of links to use on all analytics pages-->        
{% include analytics-links.html %}



<!--Commentary-->
<h2>File size</h2>
<p>File size isn't the best proxy for the volume of data provided, we will want to look at the number of instances or number of values per file or dataset for this. Filetypes will also have influence on total filesize: binary files such as .xlsx will be larger than their .csv equivalents, as will PDFs and images.</p>
<p>But file size is still interesting to look at for accessibility reasons. Mammoth files will struggle to download for users or organisations on limited bandwidth internet connections, they also take a chunk of councils' storage resources.</p>
<p>There is no filesize info for  671  files.</p>



<!--Chart: Number of files by filesize-->

<img src="/img/charts/image_Number of files by FileSize.svg" alt="Chart displaying Number of files by FileSize">

        
</body>
</html>