---
layout: default
title: Home
---

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-xs-12">
        <img src="{{ site.baseurl }}{{ site.logo }}" alt="Open Data Scotland logo" style="object-fit: cover; margin-right: 2rem; width: 100%;">
      </div>
      <div class="col-lg-9 col-xs-12">
        <h1>{{ site.greeting }}</h1>
        <p>
          {{ site.description }}
        </p>
        <p><a class="btn btn-primary btn-lg" href="{{ site.baseurl }}/datasets" role="button">Start browsing</a></p>
      </div>
    </div>
  </div>
</div>

<h2>Browse by Category</h2>

<div class="homepage-categories">
  {% for category in site.data.categories %}
  {% if category.featured == true %}
  {% capture logo_alt %}{{ category.name }}{% if category.logo_credit and category.logo_credit != empty %} logo by {{ category.logo_credit }}{% endif %}{% endcapture %}
  <a href="{{ site.baseurl }}/datasets/?category={{ category.name | slugify }}" class="thumbnail" title="{{ logo_alt }}">
    {% if category.logo and category.logo != empty %}
    <img src="{{ site.baseurl }}{{ category.logo }}" alt="{{ logo_alt }}">
    {% endif %}
    {{ category.name }}
  </a>
  {% endif %}
  {% endfor %}
</div>