<div class="form-group">
  <label for="{{ include.field_name }}[]">{{ include.field.label }}</label>
  <select class="form-control" id="{{ include.field_name }}[]" name="{{ include.field_name }}[]" style="width: 100%">
    <option value="">{{ include.field.placeholder | default: "Select..." }}</option>
    {% for org_type in site.data.org_types %}
    <option{% if include.value==org_type.title or include.value contains org_type.title %} selected="selected" {% endif
      %}>{{ org_type.title }}</option>
      {% endfor %}
  </select>
</div>