<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="analytics_style.css">
</head>
<body>
    <p>Analysis:
        <a href="/analytics/">Overview</a>,
        <a href="/analytics/scorecard/">Scorecard</a>
        </p>
        <p>Areas in detail:
        <a href="/analytics/sources">Dataset Sources</a>,
        <a href="/analytics/filetypes">File Types</a>,
        <a href="/analytics/filesizes">File Sizes</a>,
        <a href="/analytics/tags">Dataset Tags</a>,
        <a href="/analytics/licensing">Dataset Licensing</a>,
        <a href="/analytics/urls">URL Statuses</a>,
        </p>
        <p>last updated: 27-Jun-2021 23:02</p>  
</body>
</html>



    