<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div>
                All original content
                <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img
                        alt="Creative Commons Licence" style="border-width:0"
                        src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
            </div>
            <div class="footer-icons">
                <a href="https://github.com/OpenDataScotland/" aria-label="OpenDataScotland GitHub account" target="_blank"><i class="fa fa-github"></i></a>
                <a href="https://twitter.com/opendata_sco" aria-label="OpenDataScotland Twitter account" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://join.slack.com/t/opendatascotland/shared_invite/zt-yfcc64tg-xIF1cOxkWbKZqI8ZBPzkGg" aria-label="OpenDataScotland Slack group" target="_blank"><i class="fa fa-slack"></i></a>
            </div>
        </div>
    </div>
</footer>
