<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div>
                All original content
                <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img
                        alt="Creative Commons Licence" style="border-width:0"
                        src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
            </div>
            <div class="footer-icons">
                <a href="https://github.com/OpenDataScotland/" aria-label="OpenDataScotland GitHub account" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://mstdn.social/@opendatascotland@mastodon.scot" aria-label="Open Data Scotland Mastodon account" target="_blank"><i class="fa-brands fa-mastodon"></i></a>
                <a href="https://www.linkedin.com/company/opendatascotland/" aria-label="Open Data Scotland LinkedIn account" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://join.slack.com/t/opendatascotland/shared_invite/zt-yfcc64tg-xIF1cOxkWbKZqI8ZBPzkGg" aria-label="Open Data Scotland Slack group" target="_blank"><i class="fa-brands fa-slack"></i></a>
            </div>
        </div>
    </div>
</footer>
