<footer class="footer bg-light py-3 mt-4 w-100 flex-shrink-0 border-top">
    <div class="container">
        <div class="row gy-3 align-items-center text-center text-md-start flex-column flex-md-row">
            <div class="col-12 col-md-8 order-2 order-md-1">
                All original content
                <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="me-1">CC-BY-SA 4.0</a>
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img
                        alt="Creative Commons Licence" style="border-width:0"
                        src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
            </div>
            <div class="col-12 col-md-4 order-1 order-md-2 d-flex justify-content-center justify-content-md-end gap-3 fs-4">
                <a href="https://github.com/OpenDataScotland/" aria-label="OpenDataScotland GitHub account" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://mastodon.scot/@opendatascotland" aria-label="Open Data Scotland Mastodon account" target="_blank"><i class="fa-brands fa-mastodon"></i></a>
                <a href="https://www.linkedin.com/company/opendatascotland/" aria-label="Open Data Scotland LinkedIn account" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://join.slack.com/t/opendatascotland/shared_invite/zt-yfcc64tg-xIF1cOxkWbKZqI8ZBPzkGg" aria-label="Open Data Scotland Slack group" target="_blank"><i class="fa-brands fa-slack"></i></a>
            </div>
        </div>
    </div>
</footer>
