<nav class="navbar navbar-expand-md navbar-light bg-light p-1 mb-4 border-bottom" data-component="navigation">
  <div class="container">

    <a class="navbar-brand d-flex align-items-center" href="{{ site.baseurl }}/" >
      <img src="{{ site.baseurl }}{{ site.logo }}" alt="Open Data Scotland logo" style="margin-right: 1rem; height: 40px; width: auto;">
      {{ site.title }}
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="navbar-nav">
        {% for link in site.navigation %}
        {% if link.sub-pages | size > 0 %}
        {% assign active-sub-page = link.sub-pages where_exp: "item", "page.url != '/' and item.url contains page.url" %}
        {% assign active-count = active-sub-page size %}
        {% if active-count > 0 %}
        <li class="nav-item dropdown active">
          {% else %}
        <li class="nav-item dropdown">
          {% endif %}
          <a href="{{ site.baseurl }}{{ link.url }}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {{ link.title }}
          </a>
          <ul class="dropdown-menu">
            {% for sub-link in link.sub-pages %}
            {% if page.url == sub-link.url %}
            <li><a class="dropdown-item active" href="{{ site.baseurl }}{{ sub-link.url }}">{{ sub-link.title }}</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{{ site.baseurl }}{{ sub-link.url }}">{{ sub-link.title }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </li>
        {% elsif page.url contains link.url %}
        <li class="nav-item active"><a class="nav-link" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }} <span class="visually-hidden">(current)</span></a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }} </a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

  </div>

  
  <!-- START Site-wide alert -->
  {% comment %}
  <div id="site-wide-alert" class="container-fluid bg-primary">
    <div class="container">
      <div style="padding: 0.5em">
        <span><strong>Book now! </strong><a href="https://2025.stateofthemap.eu" target="_blank" >State of the Map Europe is coming to Dundee on 14/15 November 2025!</a></span>
      </div>
    </div>
  </div>
  {% endcomment %}
  <!-- END Site-wide alert -->
  
</nav>
